@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

html, body{
    height: 100%;
    width: 100%;
    background: rgb(3,101,126);
    background-image: linear-gradient(to right top, #001f4f, #123673, #234e9a, #3368c3, #4184ed);
   animation: opacity 2s forwards;
}
.navbar{
    background-color: rgba(44, 44, 44, 0.13) !important;
}


.navbar-brand{
    padding-left: 20px;
}

.navbar-nav li{
    padding-right: 30px;
}

.nav-link  {
    color: white !important;
    font-size: 1.0em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase   ;
}


.container-fluid{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin: auto;

}

.row{
    margin-top: 30%;
}
.icon{
    text-align: center;
}

.fab, .fas{
    font-size: 10em;
    text-shadow: 1px 1px 24px rgba(0,0,0,0.2);
}

.fa-facebook{
    color: 	#4267B2;
}

.fa-google{
    color: #4285f4;
}

.fa-discord{
    color: #7289d9;
}

@media (max-width:1350px) {
    .navbar-nav li{
      padding-right: 10px;
  }
  }

@media (max-width:1300px) {
    .nav-item{
      text-align: center;
    }

    .nav-link{
      font-size:  .9em;
    }

    .navbar-nav li{
      padding-right: 15px;
  }
  }

  @media (max-width:1230px) {
    .nav-item{
      text-align: center;
    }

    .nav-link{
      font-size:  .8em;
    }

    .navbar-nav li{
      padding-right: 10px;
  }
  }

  @media (max-width:1200px) {
    .nav-item{
      text-align: center;
    }

    .nav-link{
      font-size:  .8em;
    }

    .navbar-nav li{
      padding-right: 5px;
  }

  .row{
    margin-top: 40%;
}
  
  
  

}

@media (max-width:990px) {
    .nav-item{
      text-align: center;
    }

    .nav-link{
      font-size:  1.2em;
    }

    .navbar-nav li{
      padding-right: 5px;
  }

  .row{
    margin-top: 50%;
}
}


@media (max-width:768px) {

  .nav-item{
    text-align: center;
  }

  .nav-link{
    font-size:  1.2em;
  }

  .navbar-nav li{
    padding-right: 5px;
  }



.fab, .fas{
    font-size: 8em;
    text-shadow: 1px 1px 24px rgba(0,0,0,0.2);
}

}

@media (max-width:578px) {
    .icon{
        margin: 10% 5%;
    }

    .fab, .fas{
        font-size: 10em;
        text-shadow: 1px 1px 24px rgba(0,0,0,0.2);
        padding-bottom: 20%;
    }
}

/*Animations*/
@keyframes opacity {
    from{opacity: 0;}
    to{opacity: 1;}
  }



@font-face {
    font-family: lemon;
    src: url(/fonts/LEMONMILK-Light.otf);
    font-weight: 100;
}
@font-face {
    font-family: lemon;
    src: url(/fonts/LEMONMILK-Regular.otf);
    font-weight: 200;
}
@font-face {
    font-family:lemon ;
    src: url(/fonts/LEMONMILK-Medium.otf);
    font-weight: 300;
}

@font-face {
    font-family: lemon;
    src: url(/fonts/LEMONMILK-Bold.otf);
    font-weight: 400;
}